<html ng-app="mapp" lang="en">
  <head><base ref="https://www.michigan.gov/coronavirus/0,9753,7-406-98163-520743--,00.html">
  
    <title>Coronavirus - Michigan Data:</title>
    <base>
    </head><body>
    <div>
      <a href="#main">Skip to main content</a>
    </div>
    <div id="main-mobile-canvas-container">
      <div id="temp-toggler-mobile-menu">
        <a href="#mobile-canvas-menu-container"></a>
      </div>
      <div id="mobile-canvas-menu-container">
        <div>
          <div>
            <div id="mobileLogoBlock">
              <a href="/coronavirus">
                <img src="/images/som/final_logo_migov_white_526452_7.png" alt="Description: Coronavirus "></a>
            </div>
            <div id="mobileSiteTitle">
              <a href="/coronavirus">
                <div>
                  <div>Coronavirus</div>
                </div></a>
            </div>
          </div>
          <div>
            <a href="#mobile-canvas-menu-container"></a>
          </div>
        </div>
        <div>Description: Coronavirus</div>
        <div>
          <div id="searchComponentDiv_9910101010101" ng-controller="searchComponentController" ng-init="init(9910101010101)">
            <div ng-if="loadedData">
              <form ng-submit="submitFormLocal()">
                <div>
                  <div angucomplete-alt="" id="searchInput_9910101010101" placeholder="" pause="10" selected-object="optionChanged" local-data="people" local-search="localSearch" title-field="name" description-field="twitter" minlength="1" input-class="form-control form-control" input-changed="inputChanged" match-class="highlight">
                    <div ng-class="{'angucomplete-dropdown-visible': showDropdown}">
                      <div>
                        <label for="searchInput_9910101010101_value">Search for</label>
                        <div>
                          <button type="submit">Search</button>
                        </div>
                      </div>
                      <div id="searchInput_9910101010101_dropdown" ng-show="showDropdown">
                        <div ng-show="searching" ng-bind="textSearching">Searching...</div>
                        <div ng-show="!searching &amp;&amp; (!results || results.length == 0)" ng-bind="textNoResults">No results found</div>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            </div>
          </div>
        <div id="containerMainMobileLinks">
          <nav title="mobile menu">
            </nav>
        </div>
        <div>
          <nav>
            <ul id="m_bannerLinks">
              <li>
                <a href="/mdhhs" title="MDHHS">MDHHS</a>
              </li>
              <li>
                <a href="/coronavirus" title="Home">Home</a>
              </li>
              <li>
                <a href="http://www.michigan.gov/" title="MI Gov Home">MI.gov</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      </div>
    <div id="container">
      <div id="topMenuSearchContainer">
        <div id="searchComponentDiv_10101010101" ng-controller="searchComponentController" ng-init="init(10101010101)">
          <div ng-if="loadedData">
            <form ng-submit="submitFormLocal()">
              <div>
                <div angucomplete-alt="" id="searchInput_10101010101" placeholder="" pause="10" selected-object="optionChanged" local-data="people" local-search="localSearch" title-field="name" description-field="twitter" minlength="1" input-class="form-control form-control" input-changed="inputChanged" match-class="highlight">
                  <div ng-class="{'angucomplete-dropdown-visible': showDropdown}">
                    <div>
                      <label for="searchInput_10101010101_value">Search for</label>
                      <div>
                        <button type="submit">Search</button>
                      </div>
                    </div>
                    <div id="searchInput_10101010101_dropdown" ng-show="showDropdown">
                      <div ng-show="searching" ng-bind="textSearching">Searching...</div>
                      <div ng-show="!searching &amp;&amp; (!results || results.length == 0)" ng-bind="textNoResults">No results found</div>
                      </div>
                  </div>
                </div>
                <div>
                  <a href="#" title="Close Search Panel">
                    <span>Close Search Box</span></a>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
      <div id="bannerArea">
        <div id="superTop">
          <div>
            <a href="/">
              <img src="/bootstrap/images/migov_brandingbar_2017.png" alt="Michigan.gov Home"></a>
          </div>
          <div>
            <ul id="bannerLinks">
              <li>
                <a href="/mdhhs" title="MDHHS">MDHHS</a>
              </li>
              <li>
                <a href="/coronavirus" title="Home">Home</a>
              </li>
              <li>
                <a href="http://www.michigan.gov/" title="MI Gov Home">MI.gov</a>
              </li>
              <li id="top-right-search-bar">
                <a href="#topMenuSearchContainer" title="Search Mi.gov">
                  <span>Search</span></a>
              </li>
            </ul>
          </div>
        </div>
        <div id="siteBanner">
          <div>Official Website of
            <a href="/" title="return to Michigan.gov">Michigan.gov</a>
          </div>
          <div id="headerRow">
            <div>
              <a href="/coronavirus/" title="Coronavirus - Description: Coronavirus ">
                <div>
                  <div>Coronavirus</div>
                </div></a>
            </div>
            <div>
              <nav>
                <ul id="nav">
                  <li id="98178">
                    <a title="Resources" href="/coronavirus/0,9753,7-406-98178---,00.html">Resources</a>
                    <a title="show sub link for Resources" href="#ul_98178">
                      <span>&#61560;</span>
                      <span>&#61559;</span></a>
                    <ul id="ul_98178">
                      <li id="98155">
                        <a title="Resources, For Residents" href="/coronavirus/0,9753,7-406-98178_98155---,00.html">For Residents</a>
                      </li>
                      <li id="98156">
                        <a title="Resources, For Health Professionals" href="/coronavirus/0,9753,7-406-98178_98156---,00.html">For Health Professionals</a>
                      </li>
                      <li id="98157">
                        <a title="Resources, For Childcare" href="/coronavirus/0,9753,7-406-98178_98157---,00.html">For Childcare</a>
                      </li>
                      <li id="98179">
                        <a title="Resources, For Employers &amp; Workers" href="/coronavirus/0,9753,7-406-98178_98179---,00.html">For Employers &amp; Workers</a>
                      </li>
                      <li id="98558">
                        <a title="Resources, For Schools and Colleges" href="/coronavirus/0,9753,7-406-98178_98558---,00.html">For Schools and Colleges</a>
                      </li>
                      <li id="98281">
                        <a title="Resources, Communications Resources" href="/coronavirus/0,9753,7-406-98178_98281---,00.html">Communications Resources</a>
                      </li>
                      <li id="98455">
                        <a title="Resources, Executive Orders &amp; Directives" href="/coronavirus/0,9753,7-406-98178_98455---,00.html">Executive Orders &amp; Directives</a>
                      </li>
                    </ul>
                  </li>
                  <li id="98158">
                    <a title="Press Releases" href="/coronavirus/0,9753,7-406-98158---,00.html">Press Releases</a>
                  </li>
                  <li id="98414">
                    <a title="Video Updates" href="/coronavirus/0,9753,7-406-98414---,00.html">Video Updates</a>
                  </li>
                </ul>
                <ul id="desktopMobileButton">
                  <li>
                    <a href="#mobile-canvas-menu-container"></a>
                  </li>
                </ul>
              </nav>
            </div>
            </div>
        </div>
        <div>Description: Coronavirus</div>
        </div>
      <div id="topNavSearch">
        <form id="searchform">
          </form>
        </div>
      <div id="bodyWrapper">
        <div id="contentWrapper">
          <div id="main">
            <div id="breadcrumbContainer">
              <div id="breadcrumb">
                <span id="breadcrumblabel">You are here</span>
                <ol>
                  <li>
                    <a href="/coronavirus/">Coronavirus</a>
                  </li>
                </ol>
              </div>
            </div>
            <div>
              <h1>
                <span>Michigan Data:</span>
              </h1>
            </div>
            <div>
              <p>
                <strong>This information is updated daily at 2 p.m.</strong>
              </p>
              <p>
                <strong>Note on cumulative counts:</strong>
              </p>
              <p>
                <strong>Note on the deaths:</strong>
              </p>
              <p></p>
              <table>
                <caption>
                  <strong>Overall Confirmed COVID-19 Cases by County</strong>
                </caption>
                <thead></thead>
                <tbody>
                  <tr>
                    <td nowrap>
                      <strong>County</strong>
                    </td>
                    <td nowrap>
                      <strong>Cases</strong>
                    </td>
                    <td nowrap>
                      <strong>Deaths</strong>
                    </td>
                  </tr>
                  <tr>
                    <td nowrap>Barry</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Bay</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Berrien</td>
                    <td nowrap>2</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Calhoun</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Charlevoix</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Clare</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Clinton</td>
                    <td nowrap>2</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Detroit City</td>
                    <td nowrap>248</td>
                    <td nowrap>3</td>
                  </tr>
                  <tr>
                    <td nowrap>Eaton</td>
                    <td nowrap>2</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Genesee</td>
                    <td nowrap>7</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Ingham</td>
                    <td nowrap>11</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Jackson</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Kent</td>
                    <td nowrap>21</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Leelanau</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Livingston</td>
                    <td nowrap>6</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Macomb</td>
                    <td nowrap>101</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Midland</td>
                    <td nowrap>3</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Monroe</td>
                    <td nowrap>3</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Montcalm</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Oakland</td>
                    <td nowrap>229</td>
                    <td nowrap>1</td>
                  </tr>
                  <tr>
                    <td nowrap>Otsego</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Ottawa</td>
                    <td nowrap>2</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Saginaw</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>St. Clair</td>
                    <td nowrap>7</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Tuscola</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Washtenaw</td>
                    <td nowrap>29</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Wayne</td>
                    <td nowrap>101</td>
                    <td nowrap>1</td>
                  </tr>
                  <tr>
                    <td nowrap>Wexford</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>Out of State</td>
                    <td nowrap>1</td>
                    <td nowrap></td>
                  </tr>
                  <tr>
                    <td nowrap>
                      <p>
                        <strong>Total</strong>
                      </p>
                    </td>
                    <td nowrap>
                      <p>
                        <strong>787</strong>
                      </p>
                    </td>
                    <td nowrap>
                      <strong>5</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>
                <em>City of Detroit and Wayne County are reported separately.</em>
              </p>
              <p></p>
              <p></p>
              <table>
                <caption>
                  <p>
                    <strong>Overall Percentage of Cases by Sex</strong>
                  </p>
                </caption>
                <thead>
                  <tr>
                    <th scope="col" nowrap>
                      <strong>Sex</strong>
                    </th>
                    <th scope="col" nowrap>
                      <strong>%</strong>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td nowrap>Male</td>
                    <td nowrap>51%</td>
                  </tr>
                  <tr>
                    <td nowrap>Female</td>
                    <td nowrap>49%</td>
                  </tr>
                </tbody>
              </table>
              <p></p>
              <p></p>
              <table>
                <caption>
                  <strong>Percentage of Cases by Age</strong>
                </caption>
                <tbody>
                  <tr>
                    <td>
                      <strong>Age</strong>
                    </td>
                    <td>
                      <strong>%</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>0 to 19 years</td>
                    <td>2%</td>
                  </tr>
                  <tr>
                    <td>20 to 29 years</td>
                    <td>9%</td>
                  </tr>
                  <tr>
                    <td>30 to 39 years</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>40 to 49 years</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>50 to 59 years</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>60 to 69 years</td>
                    <td>19%</td>
                  </tr>
                  <tr>
                    <td>70 to 79 years</td>
                    <td>10%</td>
                  </tr>
                  <tr>
                    <td>80+ years</td>
                    <td>6%</td>
                  </tr>
                </tbody>
              </table>
              <p></p>
              <p>
                <br>
              </p>
            </div>
            </div>
          </div>
        </div>
      <div id="footerArea">
        <div id="expandedFooter">
          <div id="cat_98152">
            <h2>brandarea</h2>
            <ul>
              <li>
                <a href="/som">
                  <img src="/images/som/somFooterLogoBOW2015_491229_7.png" alt="Michigan.gov"></a>
              </li>
            </ul>
          </div>
          <div id="agencylinks">
            <ul></ul>
          </div>
          <div id="policylinks">
            <ul>
              <li>
                <a href="/">Michigan.gov Home</a>
              </li>
              <li>
                <a href="/adaform">ADA</a>
              </li>
              <li>
                <a href="/minewswire">Michigan News</a>
              </li>
              <li>
                <a href="/coronavirus/0,9753,7-406--281460--,00.html">Policies</a>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <span>
          <br>
        </span>
        </div>
      </div>
    <div id="megaMenuBlock">
      <div id="megaMenuSubLinksBlock_container">
        <div>
          <div>
            <div id="megaMenuLogoBlock">
              <a href="/coronavirus">
                <img src="/images/som/final_logo_migov_white_526452_7.png" alt="Description: Coronavirus "></a>
            </div>
          </div>
          </div>
      </div>
      </div>
    </body>
</html>